@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(rotate) {
    0% {
        transform: rotate(0);
    } // 50% {
    //     transform:rotate(360deg);
    // }
    100% {
        transform: rotate(360deg);
    }
}

@include keyframes(brighten) {
    0% {
        filter: brightness(100%);
    }
    20% {
        filter: brightness(150%);
    }
    30% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(100%);
    }
}

