<nav class="mobile-nav-wrap" role="navigation">
    <ul class="mobile-header-nav">
      li
        a.line(href="#")
            span.icon
              img(src="asset/svg/star_w.svg", alt="")
            span 智能人才
      li
        a.line(href="#")
            span.icon
              img(src="asset/svg/book_w.svg", alt="") 
            span 學習發展
      li
        a.line(href="gift.html")
            span.icon
              img(src="asset/svg/good_w.svg", alt="") 
            span 優質福利
    </ul>
</nav>
